<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Trabajo Animales</title>
    <!-- Importar Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Colaborador</h1>

    {% for colaborador in colaborador_mostrar %}
    <article>
        <h2><a href="">Nombre:{{ colaborador.nombre}}</a></h2>
        <h3><a href="">Cargo:{{ colaborador.cargo}}</a></h3>
        <h3><a href="">Fecha de:{{ colaborador.fecha_entrada_protectora}}</a></h3>
        <p>{{ colaborador.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
</body>
</html>