<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Trabajo Animales</title>
    <!-- Importar Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Protectora</h1>

    {% for protectora in protectora_mostrar %}
    <article>
        <h2><a href="">Nombre: {{ protectora.nombre}}</a></h2>
        <h3><a href="">Descripción: {{ protectora.descripcion}}</a></h3>
        <h3><a href="">Creación:{{ protectora.fecha_creacion}}</a></h3>
        <p>{{ protectora.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
</body>
</html>