<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Trabajo Animales</title>
    <!-- Importar Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Juegos</h1>

    {% for juego in juegos_mostrar %}
    <article>
        <h2><a href="">Usuario: {{ juego.usuario}}</a></h2>
        <h3><a href="">Nombre: {{ juego.nombre}}</a></h3>
        <h3><a href="">Genero:{{ juego.genero}}</a></h3>
        <p>{{ juego.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
</body>
</html>